<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <center>
          <p>Hi! I am a passionate of videogames, psychology and music, and I have developed my professional career as a producer 🎮💜<p>
          <p>With high communication and human skills, I enjoy driving projects from both creative and organizational sides.</p>
          <p>I’m also a very positive and self-motivated person, who really enjoys humor, and I always end up being the octopus-jack-of-all-trades of the studio, since I'm a quite versatile profile.</p>
        </center>
      </div>
    </div>
  </div>
</section>
