<nav class="navbar fixed-top navbar-light bg-light navbar-expand-lg">
  <div class="content">
    <a class="navbar-brand" href="#">FALI RONDA</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" onclick="$('html,body').animate({scrollTop: $('#projects').offset().top});">PROYECTOS</a>
        <a class="nav-link" onclick="$('html,body').animate({scrollTop: $('#about').offset().top});">SOBRE MI</a>
      </li>
    </ul>
  </div>
</nav>
<br/>
<br/>
<router-outlet></router-outlet>