/* AppComponent's private CSS styles */

nav {
  background: #ffffff!important;
  box-shadow: 0 -5px 20px #5d5869;
}

nav .navbar-brand {
  font-weight: bold;
}

nav a {
  color: rgb(63, 63, 63)!important;
}

nav .content {
  display: flex;
  margin: auto;
  width: 50vw;
}

@media (max-width: 600px) {
  nav .content {
    width: 80vw;
  }
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link {
  margin-right: 10px;
  display: inline-block;
}

.nav-link:last-child {
  margin-right: 0;
}
/*5d5869*/