<div class="introduction vertical-align-parent" id="intro">
  <div class="content vertical-align-child">
    <h1>¡Hola!</h1>
    <p class="no-margin">Soy Fali, desarrollador de videojuegos en Málaga.</p>
    <p class="no-margin">Me gusta programar, me encanta diseñar y es mi</p>
    <p class="no-margin">pasión gestionar proyectos y equipos.</p>
  </div>
</div>
<div class="projects" id="projects">
  <div class="separator"></div>
  <div class="content">
    <div class="row" *ngFor="let projects of projectRows">
        <div *ngFor="let project of projects; let i = index" class="col-md-4">
          <a routerLink="/detail/{{project.id}}" class="project">
            <img src="{{project.imgUrl}}">
            <p>{{project.name}}</p>
          </a>
        </div>
    </div>
  </div>
</div>
<div class="introduction about vertical-align-parent" id="about">
  <div class="separator"></div>
  <div class="content content vertical-align-child">
    <div class="row">
      <h2>¿Necesitas alguna cosa más?</h2>
    </div>
    <div class="row logos">
      <a href="https://twitter.com/FaliRonda" target="_blank"><img src="../../assets/images/logos/twitter.png"/></a>
      <a href="mailto:rafael.ronda.garcia@gmail.com"><img src="../../assets/images/logos/gmail.png"></a>
      <a href="https://www.linkedin.com/in/rafael-ronda-garc%C3%ADa/" target="_blank"><img src="../../assets/images/logos/linkedin.png"/></a>
    </div>
  </div>
</div>