/* DashboardComponent's private CSS styles */

.vertical-align-parent {
  position: relative;
}

.vertical-align-parent .vertical-align-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.about.vertical-align-parent .vertical-align-child {
  position: absolute;
  top: 50%;
  right: 0%;
}

.introduction-2 {
  opacity: 0.8;
  background: darkgrey !important;
  margin: 0!important;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

video {
  margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  width: 105%;
  height: auto;
}

.introduction {
  opacity: 0.8;
  background-image: url("../../assets/images/bg4.png");
  margin: 0!important;
  height: 100vh;
  width: 100%;
}

.introduction h1 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}

.introduction h2 {
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

.introduction a {
  margin-right: 20px;
}

.introduction p {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.introduction .content {
  margin: 0 25vw;
  display: block;
  position: relative;
  top: 40%;
  transform: perspective(1px) translateY(-50%);
  background-attachment: fixed;
}

.cv-logo {
  border-radius: 20%;
  max-width: 64px!important;
}

a {
  text-decoration: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.projects-row {
  padding: 0 10vw;
}

.separator {
  padding-top: 70px;
}

[class*='col-'] {
  padding-right: 10px;;
  padding-left: 0;
  padding-bottom: 5px;
}

.pill {
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 25px;
  display: inline-block;
  padding-right: 5px;
  width: fit-content;
}

.pill .fa {
  border-radius: 100%;
  color: white;
  margin-right: 5px;
  padding: 5px;
}

.pill-5 .fa {
  background-color: gold;
  font-size: 16px;
}

.pill-4 {
  font-size: 13px;
}

.pill-4 .fa {
  background-color: #C0C0C0;
  font-size: 13px;
}

.pill-3 {
  font-size: 11px;
}

.pill-3 .fa {
  background-color: #CD7F32;
  font-size: 11px;
}

.presentation {
  top: 35% !important;
  margin-left: 10vw !important;
  left: 0% !important;
}

.touch {
  top: 80% !important;
  margin-right: 10% !important;
}

.projects {
  margin: auto;
  width: 75vw;
  margin-top: 65px;
}

.project {
  background-position: 50% 50%;
  background-size: cover;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px rgb(189, 189, 189) solid;
  box-shadow: 0 0 20px #aaa0c0;
  color: rgb(63, 63, 63);
  display: inline-block;
  height: 20vw;
  padding: 0;
  text-align: center;
  width: 100%;
}

.project:first-child {
  margin-left: 5px;
}

.project p {
  margin: 5px 0;
  position: absolute;
}

.project:hover {
  cursor: pointer;
  box-shadow: 0 0 25px #655f76;
  background-color: (0,0,0,1);
  transition: box-shadow 0.15s ease-out;
}

.project img {
  max-height: 30vh;
  width: 100%;
}

.about {
  background-color: lightblue;
}

.about .logos {
  float: none;
  display: block;
  text-align: center;
}

.logos a {
  display: inline-block;
}

.about p {
  text-align: justify;
}

.about h5 {
  text-align: center;
}

.about .content img {
  width: 100%;
}

.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

@media (max-width: 600px) {
  .about .content{
    text-align: center;
    margin: 0 7%!important;
  }
  .about .content img {
    width: 80%;
  }

  .about .logos {
    float: none;
    margin: auto;
    width: 100%;
  }

  .about .logos a {
    margin: auto;
  }

  .introduction .content {
    margin: 0 5vw;
  }

  .introduction a {
    margin-right: 7px;
  }

  .module {
    font-size: 10px;
    max-height: 75px;
  }

  .presentation h1{
    font-size: 33px;
    margin-top: 15px;
  }

  .presentation h2{
    font-size: 25px;
    text-align: center;
  }

  .presentation p{
    font-size: 15px;
    text-align: center;
  }

  .projects {
    width: 95vw;
  }

  .project {
    height: 75vw;
  }
}

@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
