<div class="introduction vertical-align-parent">
  <div class="content vertical-align-child">
    <h1>¡Hola!</h1>
    <p class="no-margin">Soy Fali, un Desarrollador de Videojuegos de Málaga.</p>
    <p class="no-margin">Me dedico a crear videojuegos por pasión, es parte</p>
    <p class="no-margin">de mi forma de ser.</p>
  </div>
</div>

<br/><br/><br/>
<div class="projects" id="projects">
  <h3>PROYECTOS</h3>
  <br/>
  <div class="content">
    <a *ngFor="let project of projects; let i = index" routerLink="/detail/{{project.id}}" class="project">
      <img src="{{project.imgUrl}}">
      <h4>{{project.name}}</h4>
    </a>
  </div>
</div>

<br/><br/><br/>
<div class="about" id="about">
  <div class="content">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/photo.png">
      </div>
      <div class="col-md-8">
        <h5>¡ME ALEGRA VERTE POR AQUÍ!</h5>
        <p>Soy un Programador de Videojuegos de Málaga con pasión por crear experiencias de 
          dejen huella a los jugadores, tal y como me han dejado huella a mi. Hago foco en la 
          producción y diseño de proyectos.
        </p>
        <p>Soy fan de la aplicación pragmática de metodologías ágiles de desarrollo en el proceso
          de producción de juegos, así como de hacer hincapié en una fuerte fase inicial de diseño
          y pre-producción como parte de una estrategia de éxito al crear un juego.
        </p>
        <p>En marzo de 2017, fundé un grupo joven e independiente de desarrollo de videojuegos
          llamado <strong>LittleQuest</strong> y empezamos a desarrollar nuestro primer proyecto. En septiembre
          del mismo año inicié el <strong>Máster de Diseño y Desarrollo de Videojuegos de la UMA</strong> y en
          noviembre emprendí la iniciativa <strong>Interjams</strong> con el apoyo de la UMA y del Polo de Contenidos
          Digitales de Málaga, mediante el cual conseguí un espacio semanal reservado en el Polo para la celebración
          de GameJams internas para los alumnos del Máster y para la celebración de la Ludum Dare 40. También
          he sido trabajador en prácticas en 6Cocos junto a David Rico (Rodaja).
        </p>
        <p>
          Para saber más acerca de mí, puedes consultar <a href="#">este resumen</a>.
        </p>
        <p>Cuando no me dedico a desarrollar juegos, me dedico al desarrollo de aplicaciones web como desarrollador
          full-stack, a tocar la batería con grupos de música, jugar a diversos juegos y a plantear más proyectos
          de los que puedo afrontar.
        </p>
        <p>
          ¿Necesitas alguna cosa más o quieres simplemente saludar? <a href="mailto:rafael.ronda.garcia@gmail.com">rafael.ronda.garcia@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
