/* DashboardComponent's private CSS styles */
.vertical-align-parent {
  position: relative;
}

.vertical-align-parent .vertical-align-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.introduction {
  background: rgba(255, 255, 255, 0.3);
  background-image: url("../../assets/images/cover.png");
  height: 100vh;
  width: 100vw;
}

.introduction h1 {
  color: rgb(63, 63, 63);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}

.introduction p {
  color: rgb(63, 63, 63);
  font-weight: bold;
  margin: 0;
}

.introduction .content {
  margin: 0 25vw;
  display: block;
  position: relative;
  top: 40%;
  transform: perspective(1px) translateY(-50%);
  background-attachment: fixed;
}

@media (max-width: 600px) {
  .introduction .content {
    margin: 0 10vw;
  }
}

a {
  text-decoration: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

[class*='col-'] {
  padding-right: 10px;;
  padding-left: 0;
  padding-bottom: 10px;
}

.projects {
  margin: auto;
  width: 50vw;
}

@media (max-width: 600px) {
  .projects {
    width: 75vw;
  }
}

.project {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px rgb(189, 189, 189) solid;
  box-shadow: 0 0 20px #aaa0c0;
  color: rgb(63, 63, 63);
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 100%;
}

.project p {
  margin: 5px 0;
}

.project:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #6e697c;
  transition: box-shadow 0.15s ease-out;
}

.project img {
  max-height: 30vh;
  width: 100%;
}

.about {
  margin: auto;
  width: 50vw;
}

.about p {
  text-align: justify;
}

@media (max-width: 600px) {
  .about {
    width: 75vw;
  }
}

.about .content img {
  border-radius: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .about .content{
    text-align: center;
  }
  .about .content img {
    width: 80%;
  }
}

.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
